body, html { width:100%; height:100%; }
body {
	overflow:hidden;
	background:#666;
	}

/* input modifiers
   ========================================================================== */
.input_readonly {
	border:none;
	background:transparent;
	}

.input_tiny {
	width:2em;
	}


/* ==========================================================================
   Toolbar
   ========================================================================== */
.toolbar {
	padding:5px 0;

	border-top:1px solid #aaa;
	background:#ddd;
	}

/* toolbar_nav
   ========================================================================== */
.toolbar_nav {
	position:fixed;
	bottom:0;

	width:100%;
	z-index:1;
	}

/* toolbar__form
   ========================================================================== */
.toolbar__form {
	}
	.toolbar_nav [name="slide_current"] {
		text-align:right;
		}


/* ==========================================================================
   Slides
   ========================================================================== */
.slides {
	position:relative;
	width:800px; height:600px;
	margin:auto;
	transform-origin:center 0;
	/* Makes js resizing smoother */
	transition:transform .5s;
	}
	.slides__item {
		position:absolute;
		width:100%; height:100%;
		padding:50px;
		background:#fff;
		box-sizing:border-box;
		z-index:1;
		}
	.slides__item_active {
		}

/* slides_normal
   ========================================================================== */
.slides_normal {
	}
	.slides_normal .slides__item {
		display:none;
		}
	.slides_normal .slides__item_active {
		display:block;
		}

/* slides_fade
   ========================================================================== */
.slides_fade {
	}
	.slides_fade .slides__item {
		opacity:0;
		transition:opacity .7s;
		}
	.slides_fade .slides__item_active {
		opacity:1;
		z-index:1;
		}

/* slides_shrink
   ========================================================================== */
.slides_shrink {
	}
	.slides_shrink .slides__item {
		transform-origin:center center;
		transform:scale(0);
		transition:transform .3s;
		}
	.slides_shrink .slides__item_active {
		z-index:1;
		transform:scale(1);
		}

/* ==========================================================================
   Text styles
   ========================================================================== */

.text {
	overflow:hidden;
	font-size:2em;
	text-shadow:0 0 15px rgba(255,255,255,.8);
	}
	.text__image_fit {
		max-width:100%;
		max-height:100%;
		}
	.text__image_bg {
		position:absolute;
		top:0;left:0;
		z-index:-1;
		}
	.text__image_align_left {
		float:left;
		margin-right:1em;
		}
	.text__image_align_right {
		float:right;
		margin-left:1em;
		}
	.text__image_align_center {
		display:block;
		margin:auto;
		}
	.text__image_valign_center {
		display:block;
		margin:auto;
		}
	.text__table {
		border-collapse:collapse;
		}
	.text__table th,
	.text__table td {
		border:1px solid;
		padding:0 1ex;
		}
	.text__table thead {
		background:#ccc;
		}

/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
	position:relative;
	display:inline-block;

	padding:0 10px;

	border:1px solid;
	border-color:#eee #999 #999 #eee;
	border-radius:3px;

	background-color:#ccc;
	background-image:linear-gradient(top,rgba(128,128,128,0),rgba(128,128,128,.3));

	font-size:15px;
	line-height:21px;
	font-family:'Trebuchet MS', sans-serif;
	text-align:center;

	z-index:1;
	}
.button:not([disabled]):active {
	position:relative;
	top:1px;left:1px;
	border-color:#999 #eee #eee #999;
	}
.button[disabled] {
	color:#666;
	text-shadow:1px 0 #fff;
	}
